.profile{
    margin: 0;
}
.profile-rightTop{
    margin-top: 0rem;
    margin-left: 20vw;
    
}
.profile-banner{
    width: 79.75vw;
    height: 50vh;    
    border: 2px white;
    object-fit: cover;
}
.profileUserPfp{
    width: 10vw;
    height: 20.5vh;
    margin-bottom: 1rem;
    border: 5px solid white;
    margin-top: -10vh;
    z-index: 2;
}
.profile-cover{
    position: relative;
}
.profile-UserInfo{
    margin-top: calc(6vh + 1.5rem);
    margin-left: 3%;
    width: 40%;
}
.profile-UserInfo1{
    height: 15vh;
}
.userInfoPfp{
    width: 6.7vw;
    height: 13.7vh;
}
.hero{
    margin-right: 1vw;
}
