.profile{
    margin: 0;
}
.profile-rightTop{
    margin-top: 0rem;
    margin-left: 20vw;
    
}
.profile-banner{
    width: 79.75vw;
    height: 50vh;    
    border: 2px white;
    object-fit: cover;
}
.profileUserPfp{
    width: 10vw;
    height: 20.5vh;
    margin-bottom: 1rem;
    border: 5px solid white;
    margin-top: -10vh;
    z-index: 1;
}
.profile-cover{
    position: relative;
}
.profile-UserInfo{
    margin-top: calc(6vh + 1.5rem);
    margin-left: 3%;
    width: 40%;
}
.profile-UserInfo1{
    height: 15vh;
}
.userInfoPfp{
    width: 6.7vw;
    height: 13.7vh;
}
.hero{
    margin-right: 1vw;
}
.profile-feed{
    margin-left: 7%;
    width: 80rem;
}
@media screen and (max-width:321px){
    .profile-UserInfo{
        display: none;
    }
    .profile-rightTop{
        margin-top: 0rem;
        margin-left: 0vw;   
    }
    .profileUserPfp{
        width: 6rem;
        height: 6rem;
        margin-bottom: 0.5rem;
    }
    .profile-cover{
        width: 100vw;
    }
    .profile-banner{
        width: 101.5vw;
        height: 50vh;    
        border: 2px white;
        object-fit: cover;
    }
    .profile-feed{
        margin-left: 0px;
        margin-right: 50px;
    }
    
}
@media screen and (min-width:322px){
    @media screen and (max-width:376px){
        .profile-UserInfo{
            display: none;
        }
        .profile-rightTop{
            margin-top: 0rem;
            margin-left: 0vw;   
        }
        .profileUserPfp{
            width: 6rem;
        height: 6rem;
        margin-bottom: 0.5rem;
    }
    .profile-cover{
        width: 100vw;
    }
    .profile-banner{
        width: 101.5vw;
        height: 50vh;    
        border: 2px white;
        object-fit: cover;
    }
    .profile-feed{
        margin-left: 0px;
        margin-right: 40px;
    }
}
}