.Topbar-new{
    z-index: 6 ;
    position:fixed;
    width: 100%;
}
.pfp-exp{
    width: 4vh;
    height: 4vh;
}
.searchbar{
    width: 90%;
    border: none;
    outline-style: none;
    height: 3.5vh;
}
.exp-right{
    margin-left: 20vw;
}
@media screen and (max-width:768px){
    .exp-right{
        margin-left:0px;
    }
}
@media screen and (min-width:768px){
    .nav-right{
        display: flex;
        justify-content: end;
    } 
}