.sidebar{
    height: 100%;
    width: 20%;
    position: fixed;
    overflow-y: scroll;
    margin-top: 3rem;
}
.sidebarListItem{
    margin-top: 3vh;
}
.icon1{
    margin-right: 0.75vw;
}
.sidebarMore{
    width: 10vw;
    height: 5vh;
    margin-left: 1.5vw;
}
ul{
    list-style-type:none;
}
.user2{
    width: 2vw;
    height: 4vh;
}
.sidebarPpl{
    margin-left: 0.5vw;
}
.sidebarUsers{
    margin-top: 2vh;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}