.login{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.login-header{
    color: #1775ee;
    font-style: bold;
    font-weight: 600;
    font-size: 4rem;
}
.login-wrapper{
    width: 100%;
    height: 100vh;
}
.login-card{
    width: 30rem;
    height: 20rem;
    background-color: white;
    border: 2px solid white;
}
.login-button{
    background-color: #1775ee;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    width: 20rem;
    height: 3rem;
}
.login-header-1{
    font-size: 1.5rem;
}
.header{
    margin-right: 4rem;
}
.login-input{
    margin-top: 1rem;
    width: 27rem;
    height: 3.5rem;
    border: 1px solid gray;
    padding: 1rem;
}
.login-button-1{
    width: 23rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
@media screen and (max-width:321px){
    .login{
        width: 100%;
        height: 100%;
        background-color: #1775ee;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    
    .login-card{
        width: 80vw;
        background-color: whitesmoke;
        margin-left: 1rem;
    }
    .login-input{
        width: 70vw;
    }
    .login-button{
        width: 40vw;
    }
    .login-button-1{
        width: 50vw;
        height: 8vh;
    }
    .login-wrapper{
        display: block !important;
    
    }
    .login-header-1{
        display: none;
    }
    .login-header{
        font-size:3rem;
        color:white;
        width: 18rem;
    }
}

@media screen and (max-width:376px){
    .login{
        width: 100%;
        height: 100%;
        background-color: #1775ee;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    
    .login-card{
        width: 80vw;
        background-color: whitesmoke;
        margin-left: 1.5rem;
    }
    .login-input{
        width: 70vw;
    }
    .login-button{
        width: 40vw;
    }
    .login-button-1{
        width: 50vw;
        height: 8vh;
    }
    .login-wrapper{
        display: block !important;
    
    }
    .login-header-1{
        display: none;
    }
    .login-header{
        font-size:3rem;
        color:white;
        width: 18rem;
        margin-left: 1.75rem;
    }
}